{% extends 'layout.html' %}
            <!-- Main -->
            {% block section %}
            <main class="main">
                <section class="project_box" id="contact">
                    <div class="top_header">
                        <h1>Contact</h1>
                        <span>Contact me here</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="contact_info">
                                <h1>Find Me <i class="uil uil-corner-right-down"></i></h1>
                                <p><i class="uil uil-envelope"></i> Email: a.kiaipoor@gmail.com</p>
                                <p><i class="uil uil-phone"></i> Tel: +989156229320</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form_control">
                                <div class="form_input">
                                    <input type="text" class="input_field" placeholder="Name">
                                    <input type="text" class="input_field" placeholder="Email">
                                </div>
                                <div class="text_area">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="form_btn">
                                    <button class="btn">Send  <i class="uil uil-message"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            {% endblock %}