{% extends 'layout.html' %}
            <!-- Main -->
            {% block section %}
            <main class="main">
                <section class="feature_box" id="home">
                    <div class="feature_text">
                        <div class="feature_name">
                            <p>I am <span>Alireza Kiaeipour</span></p>
                        </div>
                        <div class="feature_text_info">
                            <p class="typed_text"></p>
                        </div>
                        <div class="social_icons">
                            <div class="icon"><a href="https://t.me/AlirezaKiaeipour" target="_blank"><i class="uil uil-telegram-alt"></i></a></div>
                            <div class="icon"><a href="https://www.linkedin.com/in/alireza-kiaeipour-992b98191" target="_blank"><i class="uil uil-linkedin-alt"></i></a></div>
                            <div class="icon"><a href="https://github.com/AlirezaKiaeipour" target="_blank"><i class="uil uil-github-alt"></i></a></div>
                            
                        </div>
                    </div>
                    <div class="feature_image">
                        <div class="image">
                            <img src="static/img/3.jpg" alt="image">
                        </div>
                    </div>
                </section>
            </main>
            {% endblock %}
