<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alireza Kiaeipour">
        <meta name="description" content="Personal website">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Alireza Kiaeipour</title>
    </head>
    <body>
        <div class=".container">
            <!-- Header -->
            <nav class="header">
                <div class="cv">
                    <a href="{{ url_for('download_cv') }}"><button class="btn_cv">Download CV<i class="uil uil-file-alt"></i></button></a>
                </div>
                <div class="nav_menu" id="Nav_Menu">
                    <ul class="nav_menu_list">
                        <li class="nav_list">
                            <a href="{{ url_for('home') }}" class="nav_link">Home</a>
                        </li>
                        <li class="nav_list">
                            <a href="{{ url_for('project') }}" class="nav_link">Projects</a>
                        </li>
                        <li class="nav_list">
                            <a href="{{ url_for('blog') }}" class="nav_link">Blog</a>
                        </li>
                        <li class="nav_list">
                            <a href="{{ url_for('contact') }}" class="nav_link">Contact</a>
                        </li>
                        <li class="nav_list">
                            <a href="{{ url_for('login') }}" class="nav_link">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_menu_btn">
                    <i class="uil uil-bars" onclick="menu_function()"></i>
                </div>
            </nav>

            <!-- Main -->
            <main class="main">
                <section class="project_box" id="project">
                    <div class="top_header">
                        <h1>Projects</h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="project_info">
                                <h3>Helmet Detection</h3>
                                <p>Helmet Detection Using YOLOv5 Algorithm. <span><a href="https://github.com/AlirezaKiaeipour/Helmet-Detection" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">June 2022</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="project_info">
                                <h3>Human Parsing On Binary Images</h3>
                                <p>Human Parsing On Binary Images Using PyTorch. <span><a href="https://github.com/AlirezaKiaeipour/Human-Parsing-On-Binary-Images" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">June 2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="project_info">
                                <h3>CovidDiagnosis-XRay</h3>
                                <p>Covid-19 Diagnosis with lung X-Ray using TensorFlow2.0 & Keras. <span><a href="https://github.com/AlirezaKiaeipour/CovidDiagnosis-XRay" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">February 2022</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="project_info">
                                <h3>Sketch to Face</h3>
                                <p>Convert sketch to face pix2pix using U-Net architecture. <span><a href="https://github.com/AlirezaKiaeipour/Pix2Pix/tree/main/Pix2Pix-Sketch2Face" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">April 2022</span>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
