{% extends 'layout.html' %}
            <!-- Main -->
            {% block section %}
            <main class="main">
                <section class="project_box" id="project">
                    <div class="top_header">
                        <h1>Projects</h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="project_info">
                                <h3>Helmet Detection</h3>
                                <p>Helmet Detection Using YOLOv5 Algorithm. <span><a href="https://github.com/AlirezaKiaeipour/Helmet-Detection" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">June 2022</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="project_info">
                                <h3>Human Parsing On Binary Images</h3>
                                <p>Human Parsing On Binary Images Using PyTorch. <span><a href="https://github.com/AlirezaKiaeipour/Human-Parsing-On-Binary-Images" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">June 2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="project_info">
                                <h3>CovidDiagnosis-XRay</h3>
                                <p>Covid-19 Diagnosis with lung X-Ray using TensorFlow2.0 & Keras. <span><a href="https://github.com/AlirezaKiaeipour/CovidDiagnosis-XRay" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">February 2022</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="project_info">
                                <h3>Sketch to Face</h3>
                                <p>Convert sketch to face pix2pix using U-Net architecture. <span><a href="https://github.com/AlirezaKiaeipour/Pix2Pix/tree/main/Pix2Pix-Sketch2Face" target="_blank">GitHub repo</a></span></p>
                                <span class="project_date">April 2022</span>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            {% endblock %}

