<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alireza Kiaeipour">
        <meta name="description" content="Face Analysis website">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="icon" href="static/img/icon.png" type="image/x-icon">
        <title>Face Analysis</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light pt-2">
                <div class="container">
                  <a class="navbar-brand px-4 py-2" href="/login">Login</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item ms-2">
                        <a class="nav-link active fs-5" aria-current="page" href="/home">Home</a>
                      </li>
                      <li class="nav-item ms-2">
                        <a class="nav-link fs-5" href="/services">Services</a>
                      </li>
                      <li class="nav-item ms-2">
                        <a class="nav-link fs-5" href="#">Contact</a>
                      </li>
                      <li class="nav-item ms-2">
                        <a class="nav-link fs-5" href="/login">Login</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <section>
                <div class="container py-5">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-lg-6 mt-5">
                            <h1 class="display-4 fw-bold" id="header-text">Face Analysis</h1>
                            <p class="lead">Face Analysis Base Gender, Age, Emotion</p>
                            <a class="text-white" style="text-decoration: none;" href="/login"><button class="btn btn-primary px-5 py-3 d-inline-block mt-4 fw-bold">Sign Up</button></a>
                        </div>
                        <div class="col-12 col-lg-6 mt-4">
                            <img src="static/img/image1.jpg" class="img-fluid" id="header-image" alt="Image">
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <script src="static/js/bootstrap.js"></script>
    </body>
</html>
