{% extends 'layout.html' %}
        {% block header %}
            <header class="height-login">
        {% endblock %}
            {% block section %}
            <section class="d-flex justify-content-center align-items-center login-page">
                <div class="row box-area px-4">
                    <div class="col-md-5 align-items-center left-box border rounded-5 bg-white shadow p-4 m-2 mx-4">
                        <div class="header-login-text mb-4">
                            <form method="post" action="/login">
                                <h2>Login</h2>
                                <div class="input-group mb-3 mt-4">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="email_login" placeholder="Enter your Email">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="password" class="form-control form-control-lg bg-light fs-6" name="password_login" placeholder="Enter your Password">
                                </div>
                                <div class="input-group mb-5 d-flex justify-content-between">
                                    <div class="form-checkbox mt-2">
                                        <input type="checkbox" class="form-check-input" id="form-checkbox">
                                        <label for="form-checkbox" class="form-check-label text-secondary"><small>Remember Me</small></label>
                                    </div>
                                    <div class="forgot mt-2">
                                        <small><a href="#">Forgot Password?</a></small>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                                </div>
                                <div class="input-group mb-3">
                                    <button class="btn btn-lg btn-light w-100 fs-6"><img src="static/img/icons8-google-48.png" class="me-2" style="width: 20px;"><small>Sign In with Google</small></button>
                                </div>
                                <div style="display: var(--dynamic-display);" class="alert alert-danger aler_login">
                                    Please Enter Email/Password Correctly
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 align-items-center right-box  border rounded-5 bg-white shadow p-4 m-2 mx-5">
                        <div class="header-login-text mb-4">
                            <form method="post">
                                <h2>Sign Up</h2>
                                <div class="input-group mb-1 mt-4">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="first_name_register" placeholder="* Enter your First Name">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="last_name_register" placeholder="* Enter your Last Name">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="age_register" placeholder="Enter your Age">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="email_register" placeholder="* Enter your Email">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="username_register" placeholder="* Enter your Username">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="country_register" placeholder="Enter your Country">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="city_register" placeholder="Enter your City">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="password" class="form-control form-control-lg bg-light fs-6" name="password_register" placeholder="* Enter your Password">
                                </div>
                                <div class="input-group mb-1">
                                    <input type="password" class="form-control form-control-lg bg-light fs-6" name="confirm_password_register" placeholder="* Confirm your Password">
                                </div>
                                <div class="input-group mb-2 mt-3">
                                    <button name="btn_register" type="submit" class="btn btn-lg btn-primary w-100 fs-6">Sign Up</button>
                                </div>
                                <div style="display: var(--dynamic-display);" class="alert alert-danger aler_message">
                                    {{ alert }}
                                </div>
                                <div style="display: var(--dynamic-display);" class="alert alert-success aler_message_success">
                                    User Registered Successfully
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}