<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alireza Kiaeipour">
        <meta name="description" content="Face Analysis website">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='/img/icon.png') }}" type="image/x-icon">
        <title>AI App</title>
        <style>
            .pose_detection_message{
                --dynamic-display:
                {{ pose_detection_message }}
            }
            .face_analysis_message{
                --dynamic-display:
                {{ face_analysis_message }}
            }
            .object_detection_message{
                --dynamic-display:
                {{ object_detection_message }}
            }
        </style>
    </head>
    <body>
        <header class="header-profile">
            <nav class="navbar navbar-expand-lg navbar-light pt-2">
                <div class="container">
                  <a class="navbar-brand px-4 py-2" href="/logout">Logout</a>
                  <h2 class="navbar-brand px-4 py-3 mt-2">Welcome <span>{{ username }}</span></h2>
                </div>
            </nav>

            <section class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-primary fs-1 fw-bold mb-3 text-center">Services</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs justify-content-center mt-4 g-2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fs-5 me-2 me-md-4 {{ btn_face_class }}" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Face Analysis</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fs-5 me-2 me-md-4 {{ btn_object_class }}" id="object-tab" data-bs-toggle="tab" data-bs-target="#object-tab-pane" type="button" role="tab" aria-controls="object-tab-pane" aria-selected="false">Object Detection</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fs-5 me-2 me-md-4 {{ btn_pose_class }}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Pose Detection</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fs-5 me-2 me-md-4 {{ btn_mind_class }}" id="mind-tab" data-bs-toggle="tab" data-bs-target="#mind-tab-pane" type="button" role="tab" aria-controls="mind-tab-pane" aria-selected="false">Mind Reader</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane {{ face_analysis_class }}" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                <div class="row">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <div class="mb-3 mt-4">
                                                <label for="formFile" class="form-label">Upload Your Image</label>
                                                <input class="form-control" type="file" name="image_face" id="formFile">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary fs-6">Send</button>
                                    </form>
                                </div>
                                <div class="row mt-5 w-100 face_analysis_message" style="display: var(--dynamic-display);">
                                    <div class="col-12">
                                        <h1 class="text-primary about-profile">About You:</h1>
                                        <div class="face-analysis d-flex justify-content-between mt-5">
                                            <h3>Gender: <span>{{ gender }}</span></h3>
                                            <h3>Age: <span>{{ age }}</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane {{ object_detection_class }}" id="object-tab-pane" role="tabpanel" aria-labelledby="object-tab" tabindex="0">
                                <div class="row">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <div class="mb-3 mt-4">
                                                <label for="formFile" class="form-label">Upload Your Image</label>
                                                <input class="form-control" type="file" name="image_object_detection" id="formFile">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary fs-6">Send</button>
                                    </form>
                                </div>
                                <div class="row mt-2 w-100 object_detection_message" style="display: var(--dynamic-display);">
                                    <div class="col-12">
                                        <h3 class="text-primary about-profile">Object Detection On Your Image:</h3>
                                        <img src="{{ annotated_image }}" style="width: 250px;">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane {{ pose_class }}" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <div class="row">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <div class="mb-3 mt-4">
                                                <label for="formFile" class="form-label">Upload Your Image</label>
                                                <input class="form-control" type="file" name="image_pose_detection" id="formFile">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary fs-6">Send</button>
                                    </form>
                                </div>
                                <div class="row mt-2 w-100 pose_detection_message" style="display: var(--dynamic-display);">
                                    <div class="col-12">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane {{ mind_class }}" id="mind-tab-pane" role="tabpanel" aria-labelledby="mind-tab" tabindex="0">
                                <div class="row mt-4">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <div class="mb-3 mt-4">
                                                <div class="input-group my-2 bmr-input">
                                                    <span class="input-group-text bmr-label">Number</span>
                                                    <input name="number_input" type="number" aria-label="First name" class="form-control" placeholder="Enter Your Number">
                                                </div>
                                            </div>
                                        </div>
                                        <button id="btn-mind" type="submit" class="btn btn-lg btn-primary fs-6">Send</button>
                                    </form>
                                </div>
                                <div id="mind-progress-bar" style="height: 2rem !important" class="progress mt-4" role="progressbar" aria-label="Success example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div id="mind-progress-bar-style" class="progress-bar bg-success" style="width: 0%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <script src="{{ url_for('static', filename='/js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    </body>
</html>
