<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <title>AI APP</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header bg-success text-white fs-4">
            You think of number:
        </div>
        <div class="card-body">
          <h1 class="card-title text-primary">{{ number }}</h1>
        </div>
    </div>
    
</body>
<script src="{{ url_for('static', filename='/js/bootstrap.js') }}"></script>
</html>